<div class="modal" id="addproductmodal" #addproductmodal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Product</h4>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addProductForm">
          <div class="form-group form-group">
            <label class="required-field">Name</label>
            <input class="form-control" type="text" formControlName="name">
          </div>

          <div class="form-group form-group">
            <label class="required-field">Price</label>
            <input class="form-control" type="text" formControlName="price">
          </div>

          <div class="form-group form-group">
            <label class="required-field">Quantity</label>
            <input class="form-control" type="text" formControlName="quantity">
          </div>

          <div class="form-group form-group">
            <label>Description</label>
            <input class="form-control" type="text" formControlName="description">
          </div>

          <div class="form-group form-group">
            <label class="required-field">Customer Type</label>
            <select class="form-control" formControlName="customerType">
              <option value="BOTH" [selected]="true">Both</option>
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
            </select>
          </div>

          <div class="form-group form-group">
            <label class="required-field">Product Type</label>
            <select class="form-control" formControlName="productType">
              <option value="OTHER" [selected]="true">Other</option>
              <option value="CLOTH">Cloth</option>
              <option value="SHOES">Shoes</option>
              <option value="WATCH">Watch</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" [disabled]="!addProductForm.valid" (click)="addProduct()">Save</button>
      </div>
    </div>
  </div>
</div>