

<div>
  <div class="container-fluid">
    <br>
    <span style="float:right;"> <ngbd-modal-basic></ngbd-modal-basic></span>
    <table class="table table-striped table-bordered" *ngIf="products">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Customer Type</th>
          <th>Product Type</th>
          <th>Quantity</th>
          <th>Created On</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td>{{product.customerType}}</td>
          <td>{{product.productType}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.createdAt | date: 'dd-MM-y h:mm a' : '+0530'}}</td>
          <td>Edit/Delete</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>    
